package ${packageName}.service;

import java.util.List;
import com.ruoyi.common.core.service.BaseService;
import com.ruoyi.common.core.page.TableData;
import ${packageName}.domain.${ClassName};

/**
 * ${functionName}Service接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service extends BaseService<${ClassName}>{
    List<${ClassName}> query(${ClassName} ${className});

    TableData<${ClassName}> query(${ClassName} ${className},int pageNumber, int pageSize);
}
